<!DOCTYPE html>
<html lang='en' ng-app='shop'>
<head>
  <meta charset="utf-8">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href='styles.css' rel='stylesheet'>
  <title>Shopular</title>
</head>
<body>
  <h1>Shopular</h1>
  <main ng-controller='ShopController as shopctrl'>
    <form name='input item'
          ng-submit='addItem.$valid && shopctrl.addItem(shopctrl.newItem)'
          novalidate>
      <p ng-show='additem.name.$touched && !addItem.name.$valid'> Please enter a name</p>
      <input type='text'
             name='item name'
             placeholder='Item Name'
             required
             ng-model='shopctrl.newItem.name'>
      <p ng-show='additem.price.$touched && !addItem.name.$valid'> Please enter a price</p>
      <input type='price'
             name='price'
             placeholder='Item Price'
             required
             ng-model='shopctrl.newItem.price'>
      <p ng-show='additem.color.$touched && !addItem.name.$valid'> Please enter a color</p>
      <input type='text'
             name='color'
             placeholder='Item Color'
             required
             ng-model='shopctrl.newItem.color'>
      <p ng-show='additem.quantity.$touched && !addItem.name.$valid'> Please enter a quantity</p>
      <input type='number'
             name='quantity'
             placeholder='Item Quantity'
             required
             ng-model='shopctrl.newItem.quantity'>
      <p ng-show='additem.discount.$touched && !addItem.name.$valid'> Please enter a discount</p>
      <input type='number'
             name='discount'
             placeholder='Item Discount'
             required
             ng-model='shopctrl.newItem.discount'>

      <input type='submit' value='Submit'>
    </form>
    <table class='table table-striped'>
      <thead>

        <th ng-click='shopctrl.changeSort("name")'>Name</th>

        <th ng-click='shopctrl.changeSort("price")'>Price</th>

        <th ng-click='shopctrl.changeSort("quantity")'>Quantity</th>
        <th>Color</th>

      </thead>
      <tbody>
        <tr ng-repeat='inventory in shopctrl.inventory | orderBy:shopCtrl.sortType:shopctrl.sortReverse'>
          <td>  {{inventory.name}} </td>
          <td>
            {{shopctrl.showTotal(inventory)| currency: "$": "2"}}
            <img src='98350f05-sale_2.png' alt='sale tag' ng-hide='inventory.discount === 0'>
          </td>
          <td> {{inventory.quantity}}</td>
          <td>{{inventory.color}} </td>
        </tr>
      </tbody>
    </table>


  </main>
  <footer>
    <p>That's all for now folks!</p>
  </footer>

  <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js'></script>
  <script src='build/js/app.js'></script>


</body>
</html>
